header { position: relative; }


.content-describ-top { width: 100%; margin-top: 60px; }
.content-describ-top-main { width: 1200px; margin: 0 auto; overflow: hidden; }
/*头部轮播*/
.content-describ-lunbo { position: relative; float: left; width: 636px !important; height: 445px; margin-top: 30px; overflow: hidden; }
.content-describ-lunbo ul li { float: left; }
.large-box { margin-bottom:10px; width:636px; height:349px; overflow:hidden;}
.large-box img { display:block; }
.small-box { width: 636px; height: 81px; overflow: hidden; }
.small-list { position:relative; float:left; width: 535px; height: 81px; overflow: hidden; }
.small-list ul { height:81px; overflow:hidden; }
.small-list ul li { position:relative; float:left; margin-right:10px; width:140px; }
.small-list ul li img {display:block;}
.small-list ul li .bun_bg { display:none; position:absolute; top:0; left:0; width:140px; height:81px; background:#000; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; opacity:0.6; z-index: 9; }
.small-list ul li.on .bun_bg { display:block; }
.btn { display:block; width: 29px; height:81px; background-repeat:no-repeat;background-position:center center; cursor:pointer;}
.left_btn { float:left; margin-right:10px; background-image:url(../images/content_img/left_btn.png); }
.right_btn { float:right; background-image:url(../images/content_img/right_btn.png); }
/*简要概述*/
.content-describ-brief { width: 514px; float: left; margin-left: 40px; margin-top: 32px; }
.content-product-brief { width: 514px; }
.content-product-brief h2 { font-size: 30px; margin-bottom: 20px; }
.content-product-brief h3 { font-size: 24px; margin-bottom: 30px; margin-left: 10px; }
.content-product-brief h4 { font-size: 16px; color: #ff7200; margin-left: 10px; }
.content-product-brief h4 span { font-size: 30px; }
.content-product-brief p { margin-top: 22px; font-size: 16px; }
.content-product-brief p img { vertical-align: middle; margin-left: 10px; margin-right: 10px; }
.content-product-brief p span { font-weight: bold; }
.content-product-message { margin-top: 20px; }
.content-product-message-left , .content-product-message-right , .immediate-reservation { position: relative; float: left; }
.content-product-message-right { width: 400px; font-size: 16px; }
.content-product-message-right span { font-weight: bold; }
.content-product-message-right p { margin-top: 10px; margin-left: 26px; line-height: 1.8; }
.content-product-message-right p:before { content: ''; position: absolute; top: 20px; bottom: 20px; width: 1px; background: #dcdcdc; left: 10px; }
.content_head_circle { position: absolute; width: 81px; height: 81px; top: 0; left: 0; }
.content_head { width: 73px; height: 73px; margin-top: 4px; margin-left: 4px; }
/*立即预定*/
.immediate-reservation { width: 100%; margin-top: 30px; border-top: 1px dotted #acacac; }
.immediate-reservation h3 { margin: 20px 0; margin-left: 20px; font-size: 24px; color: #666; }
.immediate-reservation p { font-size: 14px; margin-left: 20px; line-height: 1.5; font-weight: bold; }
.immediate-reservation p span { font-weight: normal; }
.immediate-reservation a { float: left; display: inline-block; margin-top: 26px; padding: 15px 60px; font-size: 30px; font-weight: bold; color: #fff; background-color: #ff7200; }
.immediate-reservation-message { float: left; height: 55px; margin-left: 20px; margin-top: 26px; }
.immediate-reservation-message p { margin-top: 10px; font-size: 14px; color: #999; }
/*日历*/
.calendar { position: absolute; top: 670px; width: 666px; height: 383px; }
.calendar h3 { text-align: center; padding: 8px 0; background-color: #eaeaea; }
.calendar h3 img { vertical-align: middle; }
.schedule-calendar { width: 666px; }
.schedule-calendar ul li { width: 74px; height: 32px; padding: 10px 10px; float: left; font-size: 14px; border-top: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; background-color: #fff; cursor: pointer; }
.schedule-calendar ul li:hover { background-color: #ffbd87; }
.schedule-calendar ul li p { margin-top: 10px; color: #ff7200; }
.schedule-calendar .calendar-week li { padding: 0 0; width: 95px; height: 27px; border: none; text-align: center; }
.calendar-bottom li { border-bottom: 1px solid #bfbfbf; }
.schedule-calendar .calendar-week li { background-color: #80888f; color: #fff; line-height: 27px; }

/*行程批次等*/
.content-list { width: 1200px; height: 42px; border-top: 2px solid #ff7200; margin: 0 auto; margin-top: 26px; }
.content-list a { display: inline-block; font-size: 16px; color: #000; padding: 12.5px 10px; background-color: #fff; }
.content-list a.change-bg { background-color: #ff7200; color: #fff; }

.line-gray { width: 1200px; height: 4px; margin: 0 auto; background-color: #e5e5e5; }
.fixed-top { position: fixed; width: 100%; top: 0; left: 0; text-align: center; margin-top: 0; background-color: #fff; z-index: 99; border-bottom: 2px solid #ff7200; }
.change-bg { background-color: #ff7200 }
/*行程批次*/
.content-stroke-batch { width: 1200px; margin: 0 auto; margin-top: 30px; }
.content-stroke-batch h3 { font-size: 24px; }
.content-stroke-batch h3 img { vertical-align: middle; }
.stroke-batch { width: 1098px; margin: 0 auto; }
.stroke-batch ul li a { position: relative; display: block; margin-left: 10px; margin-bottom: 9px; padding: 12px 15px; border: 1px solid #dcdcdc; font-size: 14px; color: #000; }
.stroke-batch ul li a.change-border { border-color: #ff7200; }
.stroke-batch ul li a span { position: absolute; display: block; top: 8px; right: 20px; padding: 3px 5px; border: 1px solid #27ba30; border-radius: 5px; font-size: 14px; color: #27ba30; }
.stroke-batch ul > a { display: inline-block; padding: 12px 150px; margin: 0 auto; margin-left: 370px; margin-top: 20px; margin-bottom: 30px; font-size: 16px; color: #000; background-color: #e5e5e5; }


/*行程亮点*/
.content-travel-highlights { width: 1200px; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; }
.content-travel-highlights h3 { font-size: 24px; }
.content-travel-highlights h3 img { vertical-align: middle; }
.travel-highlights { width: 1100px; margin-left: 60px; text-align: center; }

/*往年游记*/
.content-travel-notes { width: 1200px; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; }
.content-travel-notes > h3 { font-size: 24px; } 
.content-travel-notes > h3 img { vertical-align: middle; }
.travel-notes { width: 1100px; margin-left: 60px; overflow: hidden; }
.travel-notes-lunbo { width: 448px; float: left; padding-bottom: 50px; }
.travel-notes-lunbo ul { overflow: hidden; }
.travel-notes-lunbo ul li { float: left; }
.travel-notes-lunbo .dots { width: 363px; margin-left: 190px; margin-top: 20px; }
.travel-notes-lunbo .dots li { float: left; width: 14px; height: 14px; background: #b5b5b5; margin-left: 12px; text-indent: -999em; }
.travel-notes-lunbo .dots li.active { background: #ff7200; }
.notes-describe { width: 600px; float: left; margin-left: 30px; }
.notes-describe h3 { font-size: 30px; margin-top: 14px; margin-bottom: 39px; }
.notes-describe p { font-size: 14px; margin-bottom: 14px; }
.notes-describe p img { width: 20px; vertical-align: top; margin-right: 18px; margin-bottom: 8px; }


/*行程安排*/
.content-travel-scheduling { width: 1200px; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; }
.content-travel-scheduling > h3 { font-size: 24px; }
.content-travel-scheduling > h3 img { vertical-align: middle; }
.travel-scheduling { position: relative; width: 1100px; margin-left: 60px; overflow: hidden; }
.scheduling-day , .scheduling-describe { float: left; }
.scheduling-day ul li a { display: inline-block; padding: 10px 14px; font-size: 14px; background-color: #ddd; color: #999; margin-bottom: 5px; }
.scheduling-describe-main { position: relative; width: 966px; margin-left: 60px; }
.scheduling-describe-main:before { content: ''; position: absolute; top: 40px; bottom: -20px; border-left: 1px dotted #999; left: -32px; }
.scheduling-describe-main em { position: absolute; top: 0; left: -50px; width: 38px; height: 43px; background:url(../images/content_img/scheduling_bg.png) no-repeat; text-align: center; line-height: 38px; color: #fff; }
.scheduling-describe-main h3 { font-size: 14px; padding-top: 10px; }
.scheduling-describe-main h5 { font-size: 14px; font-weight: normal; margin: 10px 0; }
.scheduling-describe-main p { font-size: 14px; line-height: 1.6; margin-bottom: 20px; }
.scheduling-describe-main strong { display: block; margin-bottom: 16px; }
.scheduling-describe-main strong span { font-weight: normal; }


.fixed-aside { position: fixed; top: 50px; }
.scheduling-day ul li a.change-scheduling-day-bg { background-color: #8fc31f; color: #fff; }
/*费用说明，注意事项，签证说明*/
.content-travel-money , .content-travel-attention , .content-travel-visa { width: 1200px; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; }
.content-travel-money > h3 , .content-travel-attention > h3 , .content-travel-visa > h3 { font-size: 24px; }
.content-travel-money > h3 , .content-travel-attention > h3 { display: inline-block; }
.content-travel-money > .change-tab , .content-travel-attention > .change-tab { display: inline-block; margin-left: 50px; }
.content-travel-money > .change-tab a , .content-travel-attention > .change-tab a { display: inline-block; padding: 0 5px; padding-bottom: 5px; font-size: 16px; color: #000; font-weight: bold; margin-right: 30px; }
.content-travel-money > h3 img , .content-travel-attention > h3 img , .content-travel-visa > h3 img { vertical-align: middle; }

.travel-money-main , .travel-attention-main , .travel-visa-main { width: 1100px; margin-left: 60px; }
.travel-money-main p , .travel-attention-main p , .travel-visa-main p { font-size: 14px; line-height: 1.6; }
.content-travel-money > .change-tab a.checked , .content-travel-attention > .change-tab a.checked { border-bottom: 2px solid #ff7200; }
.money-no-have , .money-apliy , .attention-special , .attention-know { display: none; }

/*沿途风光*/
.content-travel-scenery { width: 1200px; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; }
.content-travel-scenery > h3 { font-size: 24px; }
.content-travel-scenery > h3 img { vertical-align: middle; }
.travel-scenery { width: 1100px; margin-left: 60px; }
.travel-scenery p { font-size: 14px; margin: 20px 0; }
.travel-scenery img { display: block; margin: 0 auto; }



/*精彩专题*/
.main { position: relative; width: 1200px; margin: 0px auto; padding-top: 30px; }
.main:after { content:""; display:block; height:0; clear:both; visibility:hidden; }

.special-exhibition { position: relative;  margin-top: 40px; padding-bottom: 77px; }
.special-exhibition:after { content:""; display:block; height:0; clear:both; visibility:hidden; }
.special-exhibition ul li { float: left; }
.special-exhibition ul li a { position: relative; float: left; width: 290px; height: 121px; overflow: hidden; }
.special-exhibition ul li a div { display: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; color: #fff; text-align: center; background: rgba(0, 0, 0, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); }
.special-exhibition ul li a div h4 { font-size: 20px; color: #ebd40f; }
.special-exhibition ul li a div h4:first-child { margin-top: 122px; margin-bottom: 8px; }
.special-exhibition ul li a div p { margin-top: 20px; padding: 0 20px; line-height: 1.5; }
.special-exhibition ul li a + a { margin-left: 13px; }
.special-exhibition .dots { position: absolute; left: 0; right: 0; bottom: 30px; }
.special-exhibition .dots li { float: left; width: 10px; height: 10px; margin: 0 4px; text-indent: -999em; border: 1px solid #9b9b9b; border-radius: 6px; cursor: pointer; opacity: .4; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s; }
.special-exhibition .dots li:first-child { margin-left: 570px; }
.special-exhibition .dots li.active { background: #fabe00; opacity: 1; }
.special-img { position: absolute; top: 158px; left: 0; }
#al { position: absolute; top: 40px; left: 15px;}
#ar { position: absolute; top: 40px; right: 15px;}




/*产品提问*/
.question { margin-bottom: 23px; padding-bottom: 30px;}
.ask-question { width: 100%; height: 740px; margin-top: 30px; background: #fff; }
.ask-question h2 { text-align: center; color: #ff9200; padding-top: 22px; font-size: 36px; }
.input-ask { width: 100%; padding-top: 29px; margin-bottom: 34px; text-align: center; }
.input-ask input { width: 438px; padding: 12px 14px; outline: none; }
.input-ask a { padding: 14px 62px; background: #ff7200; color: #fff; }
.question-list { width: 1100px; margin: 0 auto; }
.question-list > a { font-size: 14px; color: #000; }
.question-sublist { width: 100%; margin-top: 12px; border-top: 1px solid #e1e1e1; border: 4px solid #e1e1e1; color: #a9a9a9; overflow: hidden; }
.question-sublist ul { float: left; }
.question-sublist ul li { height: 82px; overflow: hidden; line-height: 82px; }
.question-sublist ul li > div { float: left; }
.question-dianzan { width: 32px; text-align: center; }
.question-dianzan img { margin-left: 10px; vertical-align: middle; }
.question-main { width: 500px; height: 82px; line-height: 82px; padding-right: 10px; overflow: hidden; }
.question-main p { font-size: 18px; margin-left: 20px; }
.question-main a { color: #a9a9a9; }
.answer-question { background-color: #fafafa; }
.answer-question p { margin-top: 22px; font-size: 12px; line-height: 1.5; }
.question-all { width: 100%; margin-top: 30px; text-align: center; }
.question-all a { color: #ff7200; font-size: 14px; }